*.qxp
*.qarlog
*.txt
*.v
*.stp
*.rpt
*.cdf
*.done
*.smsg
*.summary
*.pin
*.qpf
*.qsf
*.sof
*.jdi
*.sdc
!simple_ipod_solution.v
!pacoblaze_instruction_memory.v
!picoblaze_template.v
db/
incremental_db/
pacoblaze/
*.do
*.qws
lab2.sv
lab2_tb.sv
*.MEM